<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the web library!</h1>
    <p>
      Hi, <%= @user %>! You have borrowed the book <%= @book.title %> and your return date is coming: <%= @date %>. Please, remember to return the book on time.
      
    </p>
    <p>Have a great day!</p>
  </body> </html>
