<div class="wrapper"><!DOCTYPE html> <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      Could you please return the book <br>
     <% @reservations.each do |r| %>
   <strong> <%= r.book.title %></strong><br>you have borrowed from Library ZS&MZ?<br>
    <% end %>
    </p>
    <p>May the force be with you, 
		have a great day!</p>
  </body>
</html>
</div>