<div class="wrapper">
	<h1>Guest book</h1>
	<%= link_to "New entry", new_entry_path %>
	<table id="entry">
		<thead><% @entries.each do |entry| %>
			<th><b><%= entry.name %></th></b>
		</thead>
		<tbody>
			<tr>
				<td> wrote <%= entry.created_at %>:
					<%= entry.comment %></tr>
				</td>
			</tr><% end %>
		</tbody>
	</table>
</div>
