<div class="table">
<table id="entry">
	<thead><% @entries.each do |entry| %>
   		<th><h1 id="title"><%= entry.name %> wrote:</h1></th>
   	</thead>
   	<tbody>
   		<tr>
   			<td><big><%= entry.comment %></big> <br>
   			<small>at: <%= entry.created_at %></small>
			</td>
		</tr><% end %>
	</tbody>
	<tfoot>
		<div class="link entry"><%= link_to "Want to leave us a message?", new_entry_path %></div>
	</tfoot>
</table>
</div>