// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*******************************************************************************$
/* Listing Style                                                               $$
/*******************************************************************************/


        #listing
        {
        }
	
	#listing .title
	{
	  font-size: 1.1em;
          color: #6F6F6F;
	}


        #listing .table th, td
        {
	font-size:1em;
	border:1px solid #FFF;
	padding:3px 7px 2px 7px;
        }

