<div class="listing"><div id="title"><h1>Listing categories</h1></div>

<div class="table"><table>
  <thead>
    <tr>
      <th>Name</th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  
  <tfoot>
    <% if user_signed_in? %><div class="link"><%= link_to 'New Category', new_category_path %> </div><% end %>
  </tfoot>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
      
        <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table></div>


</div>